extends _layout

include _chapters
include _common-reviews

block head
	title The Age of Em, A Book
	link(rel='stylesheet' href='style/index.css')
block content
	#top-reviews
		+guardian-review(false)
		+wall-street-journal-review(false)
		+financial-times-review(false)

	#cover
		a(href='cover.jpg') #[img(title='Cover' src='cover.jpg')]

	#description
		#title.
			The Age of Em: Work, Love and Life when Robots Rule the Earth
		#publisher
			a(href='//ukcatalogue.oup.com/product/9780198754626.do') Oxford University Press
		div
			a(href='https://www.bookdepository.com/Age-Em-Robin-Hanson/9780198817826') Paperback available here
		div Hardback: 1 June 2016, Revised paperback: 5 June 2018 (Has 4 new sections, 18% more text, and 42% more citations)
		#cover-explain.
			(See #[a(href='cover_full.pdf') full cover]. Cover image:
			#[a(href='//www.framebox.com/creations/habitat') Habitat]
			by Till Nowak)

	section#summary
		p #[span#lead Robots may one day rule the world], but what is a robot-ruled Earth like?
		p.
			Many think the first truly smart robots will be brain emulations or #[b ems].
			Scan a human brain, then run a model with the same connections on a fast computer,
			and you have a robot brain, but recognizably human.
		p.
			Train an em to do some job and copy it a million times:
			an army of workers is at your disposal.
			When they can be made cheaply, within perhaps a century,
			ems will displace humans in most jobs.
			In this new economic era, the world economy may double in size every few weeks.
		p.
			Some say we can't know the future,
			especially following such a disruptive new technology,
			but Professor Robin Hanson sets out to prove them wrong.
			Applying decades of expertise in physics, computer science, and economics,
			he uses standard theories to paint a detailed picture of a world dominated by ems.
		p.
			While human lives don't change greatly in the em era,
			em lives are as different from ours as our lives are from those of our farmer and forager ancestors.
			Ems make us question common assumptions of moral progress,
			because they reject many of the values we hold dear.
		p.
			Read about em mind speeds, body sizes, job training and career paths,
			energy use and cooling infrastructure, virtual reality, aging and retirement,
			death and immortality, security, wealth inequality, religion, teleportation, identity, cities,
			politics, law, war, status, friendship and love.
		p.
			This book shows you just how strange your descendants may be,
			though ems are no stranger than we would appear to our ancestors.
			To most ems, it seems good to be an em.

		#order
			#main
				a(href=amazonUrl) Buy on Amazon
			div Also on #[a(href=audibleUrl) Audible], #[a(href=kindleUrl) Kindle], #[a(href=playUrl) Google Play], #[a(href=barnesUrl) Barnes & Noble], and #[a(href=oupUrl) Oxford University Press]

		#sample
			a(href='AoE-FreeSample.pdf') Read free sample

	section.video
		div(style="position:relative;padding-bottom:56.25%")
			iframe(
				src="//embed.ted.com/talks/robin_hanson_what_would_happen_if_we_upload_our_brains_to_computers"
				style="position:absolute;width:100%;height:100%"
				frameborder="0"
				scrolling="no"
				allowfullscreen)

	p.video-intro And here is a longer talk.

	section.video
		iframe(frameborder=0 allowfullscreen src='//youtube.com/embed/N4I2If3x_9g')

	section#author
		p.
			#[a#name(href='//robinhanson.com') Robin Hanson] is associate professor of economics at
			#[a(href='//gmu.edu') George Mason University],
			and research associate at the
			#[a(href='//www.fhi.ox.ac.uk') Future of Humanity Institute] of Oxford University.
			He has a doctorate in social science from
			#[a(href='//caltech.edu') California Institute of Technology],
			master's degrees in physics and philosophy from the
			#[a(href='//uchicago.edu') University of Chicago],
			and nine years experience as a research programmer, at
			#[a(href='//lockheedmartin.com') Lockheed] and #[a(href='//nasa.gov') NASA].
			He has 3500 citations, 60 publications, 700 media mentions,
			and he blogs at #[a(href='//overcomingbias.com') OvercomingBias].
		p.
			Prof. Hanson's second book, coauthored with Kevin Simler, is
			#[a(href='//elephantinthebrain.com') The Elephant in the Brain: Hidden Motives in Everyday Life],
			which will be published January 2, 2018.
		img(title='Elephant In The Brain' src='elephant_cover.jpg')
		p More on Prof. Hanson #[a(href='//hanson.gmu.edu/bio') here].

	section#toc
		header Table of Contents
		+chapters()
